<div class="row">
  <div class="col s12 center-align">
    <div class="card">
      <div class="card-content">
      <h5>Login With...</h5>
      <a href="/auth/google" class="waves-effect waves-light red btn"><i class="fab fa-google"></i>Google</a>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <h6>Email</h6>
        <form action="/auth/login" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="text" name="password" class="">
              <label for="password">Password</label>
            </div>
              <input type="submit" class="waves-effect waves-light btn orange darken-1">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
