<ul class="flex-container btm-nav">
  <li class="col"><a href="/trips"><i class="fas fa-search"></i></a></li>
  <li class="col"><a href="trips/add"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a></li>
  <li class="col"><a href="#home"><i class="fas fa-suitcase"></i></a></li>
</ul>
