{{#if success_msg}}
<div class="card-panel">
  <span class="green-text">{{success_msg}}</span>
</div>
{{/if}}

{{#if error_msg}}
<div class="card-panel">
  <span class="red-text">{{error_msg}}</span>
</div>
{{/if}}
