<!--
user model
user.image
user.username
user.bio
user.displayName

Trip model
Travel Stats
trips.mytrips(length of an array of number of COMPLETED TRIPS)

 -->

<!-- User profile card -->
    <div class="card">
      <div class="flex-container">
        <div class="_25 text-center">
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="user-profile-img" alt="Michael Washburn">
          <div class="flex-container align-items-end" >
            <span alt="Tripcited Username">@michaelwashburn</span>
          </div>
        </div>
        <div class="_50">
          <div>
            <p class="profile-name">Michael Washburn</p>
            <p>Born explorer. Creator of a travel app that makes planning and finding things to do way more fun!</p>
          </div>
        </div>
        <div class="_25 text-center">
          <div><span>Badges</span></div>
          <div>
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/travel-badges/desert-128.png" class="badge-img" alt="Tripcited-Desert-Badge">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/travel-badges/mountains-128.png" class="badge-img" alt="Tripcited-Mountain-Badge">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/travel-badges/travel.png" class="badge-img" alt="Tripcited-World-Badge">
          </div>
        </div>
      </div>
      <hr>
      <!-- Travel stats displays users' total trips, planned trips, booked trips and number of followers they have -->
      <div class="col flex-column">
        <div class="text-center">
          <p>Travel Stats</p>
        </div>
        <div class="travel-stats">
          <div>
            <p>Trips</p>
            <p>25</p>
          </div>
          <div>
            <p>Planned</p>
            <p>2</p>
          </div>
          <div>
            <p>Booked</p>
            <p>1</p>
          </div>
          <div>
            <p>Followers</p>
            <p>415</p>
          </div>
        </div>
      </div>
    </div> <!-- Close Card for User Profile-->
