<header class="StickyHeader navbar-fixed">

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/trips" class="brand-logo">Tripcited!</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{#if user}}
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <li><a href="/sign-in">Sign-in</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="/sign-in">Sign-in</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</header>
