<div class="card">
    <ul class="flex-col signin-wrap">
      <li><a class="" href="/profile">Profile</a></li>
      <li><a href="/account">Account</a></li>
      <li><a class="logout-btn" href="/auth/logout">Logout</a></li>
    </ul>
</div>
