<div class="card">
    <ul class="flex-col signin-wrap">
        <li>
          <a class="google-btn" href="/auth/google">Sign in with Google</i></a>
          <a class="facebook-btn" href="">Sign in with Facebook</a>
        </li>
        <hr>
        <li>
          <p>Create Account</p>
          <form class="signin-form" action="">
            <div class="input-field">
              <input type="text" placeholder="Username">
            </div>
            <div class="input-field">
              <input type="email" placeholder="Email">
            </div>
            <div class="input-field">
              <input type="text" placeholder="Password">
            </div>
            <div class="input-field">
              <input type="text" placeholder="Confirm Password">
            </div>
            <div class="input-field">
              <button class="signin-btn" type="submit" name="button">Submit</button>
            </div>
          </form>
        </li>
    </ul>
</div>
