<div class="row">
  <div class="col s12 center-align">
    <div class="card">
      <div class="card-content">
      <h5>Login With...</h5>
      <a href="/auth/google" class="waves-effect waves-light red btn"><i class="fab fa-google"></i>Google</a>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <h6>Email</h6>
        <form action="">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
            <div class="input-field">
              <a class="waves-effect waves-light btn orange darken-1">Login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
