
    <div class="row">
      <div class="col s12">
        <h3>Add a trip</h3>
      </div>
      <form action="/trips" method="POST" class="col s12">
        <div class="input-field col s12">
          <input type="text" id="title" name="title" placeholder="Trip Title">
          <label for="title"></label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="destination" name="destination" placeholder="Destination">
          <label for="destination"></label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="dates" name="dates" placeholder="Dates">
          <label for="dates"></label>
        </div>
        <div class="input-field col s12">
          <input type="text" id="titleBkgrndImg" name="titleBkgrndImg" placeholder="Image">
          <label for="titleBkgrndImg"></label>
        </div>
        <div class="input-field col s12">
          <textarea type="text" id="description" name="description" placeholder="Trip description"></textarea>
          <label for="description"></label>
        </div>
        <div class="input-field col s12">
          <select id="visibility" class="" name="">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
          </select>
        </div>
        <div class="input-field col s12">
          <input type="submit" name="" class="btn" value="save">
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="">

      <ul id="trip-card" class="trip-card-select flex-container" onclick="tripCardSelection(event)">
        <li id="flight" class="trip-card-type" onclick="">Flight</li>
        <li id="restaurant" class="trip-card-type">Restaurant</li>
        <li id="place" class="trip-card-type">Place</li>
      </ul>

  </div> -->
</div>
