{{>_david}}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="../img/marrakech.jpg" alt="">
        <span class="card-title">NYC -> AMS (12Hours) -> Marrakech, Morroco</span>
      </div>
      <!-- <div class="flex-container p15">
        <div class="_10">
          <img src="../img/place-16.png" alt="">
        </div>
        <div class="_55">
          <span class="wt500">Portland, Oregon</span>
          <span class="wt500">January 12-14</span>
        </div>
        <div class="_35 trip-friends left-align">
          <div><span class="wt500">With...</span></div>
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/beau_murrillo.jpg" class="" alt="Tripcited Beau Murrillo">
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/dana_comella.jpg" class="" alt="Tripcited Dana Comella">
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/josie.jpg" class="" alt="Tripcited Colombia_Gorgeous">
        </div>
      </div> -->
    </div>
  </div>
</div><!--end row -->

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="flight-panel">
        <div class="_15">
          <img src="../img/departures-orange.png" class="itin-icon" alt="">
        </div>
        <div class="_85 flex-column">
          <div class="flex-container">
            <div class="_25">
              <img src="../img/klm.jpg" class="itin-co-logo responsive-img" alt="KLM Royal Dutch Airlines Logo">
            </div>
            <div class="_75">
              <span class="wt500 panel-title">KLM | KL 646</span>
              <span class="panel-title">New York (JFK) to Amsterdam (AMS)</span>
            </div>
          </div>
          <div class="divider"></div>
          <div class="flex-container">
            <div class="_25">
              <img src="../img/royalairmaroc.jpg" class="itin-co-logo responsive-img" alt="Royal Air Maroc Logo">
            </div>
            <div class="_75">
              <span class="wt500 panel-title">Royal Air Maroc | AT 851</span>
              <span class="panel-title">Amsterdam (AMS) to Casablanca (CMN)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-panel">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header flex-container">
              <div class="_20">
              <img src="../img/davidp.jpg" class="comment-profile-img" alt="">
              </div>
              <div class="_80 align-self-center">
              <span>"If I could do my flight from AMS to CMN over..."</span>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="single-comment">
              <div class="_10 flex-col">
                <div class="center-align">
                  <img src="../img/davidp.jpg" class="comment-profile-img" alt="">
                </div>
              </div>
              <div class="_75">
                <span>If I could do my flight from AMS to CMN over I would choose another carrier. The airline did not even acknowlege the 3-hour delay to passengers. Even if the flight was a little more, it's worth flying with a more reputible carrier. </span>
                <a href="" class="more-btn">More comments...</a>
              </div>
              <div class="_15 flex-container align-self-center">
                <div class="vote">
                  <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
                  <span>10</span>
                </div>
                <div class="vote">
                  <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
                  <span>2</span>
                </div>
              </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator responsive-img" src="../img/iloveamsterdam-tourist.png">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">12 Hours in Amsterdam<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Amsterdam, a great place for a layover!<i class="material-icons right">close</i></span>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
</div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="flex-container p15">
         <div class="_25 center-align">
           <img src="../img/iloveamsterdam-tourist.png" class="itin-co-logo responsive-img" alt="Michael Washburn">
         </div>
         <div class="_75 center-align align-self-center">
          <h5>"12 Hours in Amsterdam!"</h5>
         </div>
       </div>
       <div class="tip-panel">
         <div class="_10 flex-col">
           <div>
             <img src="../img/reminder-orange.png" class="itin-icon" alt="">
           </div>
         </div>
         <div class="_75">
           <span>Schipol Airport (AMS) has bag lockers and the train station is attached to the airport too. This is an amazing city to explore.</span>
           <a href="" class="more-btn">More tips...</a>
         </div>
         <div class="_15 align-self-center">
           <div class="flex-container">
             <div class="vote">
               <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
               <span>10</span>
             </div>
             <div class="vote">
               <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
               <span>2</span>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
