
<div class="row">
  {{#each trips}}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{titleBkgrndImg}}">
        <span class="card-title">{{title}}</span>
      </div>
      <div class="card-content flex-row p15">
        <div class="col s3">
          <a href="#"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="user-profile-img circle" alt="Michael Washburn"></a>
        </div>
        <div class="col s6 flex-col username left-align">
            <span>@michaelwashburn</span>
            <span>Los Angeles, CA</span>
        </div>
        <div class="col s3 card-fav-add">
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">add</i>
        </div>
        <div class="col s12 center-align">
          <a href="">View</a>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
