{{>_michael}}

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/card-pics/portland-skyline.jpg" alt="">
        <span class="card-title">Weekend in Portland</span>
      </div>
      <div class="flex-container p15">
        <div class="_10">
          <img src="../img/place-16.png" alt="">
        </div>
        <div class="_55">
          <span class="wt500">Portland, Oregon</span>
          <span class="wt500">January 12-14</span>
        </div>
        <div class="_35 trip-friends left-align">
          <div><span class="wt500">With...</span></div>
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/beau_murrillo.jpg" class="" alt="Tripcited Beau Murrillo">
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/dana_comella.jpg" class="" alt="Tripcited Dana Comella">
          <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/josie.jpg" class="" alt="Tripcited Colombia_Gorgeous">
        </div>
      </div>
    </div>
  </div>
</div><!--end row -->

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="place-panel">
        <div class="_10">
          <img src="../img/airport-orange.png" class="itin-icon" alt="">
        </div>
        <div class="_60">
          <span class="wt500">Bob Hope International Airport</span>
          <adddress>
            <span>12627 N. Hollywood Way</span>
            <span>Burbank, CA 91505</span>
          </adddress>
        </div>
        <div class="_30"></div>
      </div><!-- close place panel -->
      <div class="divider"></div>
      <div class="tip-panel">
        <div class="_10 flex-col">
          <div>
            <img src="../img/reminder-orange.png" class="itin-icon" alt="">
          </div>
        </div>
        <div class="_75">
          <p>If you have the flight option, and if you are staying more on the east side of Los Angeles (Hollywood or Downtown), or North (San Fernando Valley and above), then Burbank Airport (Bob Hope) may be a better alternative to LAX. It's far less conjested and most likely closer to where you will be staying.</p>
          <a href="" class="more-btn">More tips...</a>
        </div>
        <div class="_15 align-self-center">
          <div class="flex-container">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="flight-panel">
        <div class="_15">
          <img src="../img/departures-orange.png" class="itin-icon" alt="">
        </div>
        <div class="_85 flex-column">
          <div class="flex-container">
            <div class="_25">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/airlines/Alaska-airlines-logo.jpg" class="itin-co-logo responsive-img" alt="Alaska Airlines Logo">
            </div>
            <div class="_75">
              <span class="wt500 panel-title">Alaska Airlines | Flight 2689</span>
              <span class="panel-title">Burbank (BUR) to Portland (PDX)</span>
            </div>
          </div>
          <div class="divider"></div>
          <div class="flex-container">
            <div class="_25">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/airlines/Alaska-airlines-logo.jpg" class="itin-co-logo responsive-img" alt="Alaska Airlines Logo">
            </div>
            <div class="_75">
              <span class="wt500 panel-title">Alaska Airlines | Flight 2689</span>
              <span class="panel-title">Burbank (BUR) to Portland (PDX)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" style="width:100%; height:auto;" src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/places/radio-room.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt=""> Alberta Arts District, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/restaurant-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Radio Room</span>
        <span>1101 NE Alberta St. Portland, OR 97211</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/radio-room-1.jpg" class="ig-img" alt="">
        <img src="../img/radio-room-2.jpg" class="ig-img" alt="">
        <img src="../img/radio-room-3.jpg" class="ig-img" alt="">
        <img src="../img/radio-room-4.jpg" class="ig-img" alt="">
        <img src="../img/radio-room-5.jpg" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
        <div class="_10 flex-col">
          <div class="center-align">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
          </div>
        </div>
        <div class="_75">
          <span>Casual and lively vibe and fun music. My burger was good, but I did not like the cibatta bun they served it on. Service was slow and unobservant of refills. Getting the check was fast and she offered to split the check without asking...that was great! I'd come back but I'd try something else off the menu.</span>
          <a href="" class="more-btn">More comments...</a>
        </div>
        <div class="_15 flex-container align-self-center">
          <div class="vote">
            <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
            <span>10</span>
          </div>
          <div class="vote">
            <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
            <span>2</span>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card p15">
        <div class="card-img">
          <img class="responsive-img" style="width:100%; height:auto;" src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/places/stagpdx.jpg" alt="" >
        </div>
        <div class="flex-container place-location-panel">
          <div class="_70">
            <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Old Town Chinatown, Portland</span>
          </div>
          <div class="_30">
            <a href="" class="add-btn">Add to your trip</a>
          </div>
        </div>
        <div class="flex-container place-info-panel">
          <div class="_10">
            <img src="../img/glass-orange.png" class="itin-icon" alt="">
          </div>
        <div class="_60 flex-column">
          <span class="wt500" class="item-name">Stag PDX</span>
          <span>317 NW Broadway, Portland, OR 97209</span>
            <div class="social-icon-wrap">
              <img src="../img/instagram.png" class="social-icon" alt="Instagram">
              <img src="../img/facebook.png" class="social-icon" alt="Facebook">
            </div>
          </div>
            <div class="_30 rating-panel flex-column">
            <div class="align-self-end">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            </div>
          </div>
        </div>
        <div class="ig-feed flex-container">
          <img src="../img/stag-1.jpg" class="ig-img" alt="">
          <img src="../img/stag-2.jpg" class="ig-img" alt="">
          <img src="../img/stag-3.jpg" class="ig-img" alt="">
          <img src="../img/stag-4.jpg" class="ig-img" alt="">
          <img src="../img/stag-5.jpg" class="ig-img" alt="">
        </div>
        <div class="comment-panel">
          <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>FULL MALE NUDITY! Friendly vibe and staff. Fun place to go especially when you've already had a few drinks. Tip your dancers!</span>
            <a href="" class="more-btn">More comments...</a>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/places/beeswing.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Old Town Chinatown, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/glass-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Beeswing</span>
        <span>4318 NE Cully Blvd, Portland, OR 97218</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/beeswing-1.jpg" class="ig-img" alt="">
        <img src="../img/beeswing-2.jpg" class="ig-img" alt="">
        <img src="../img/beeswing-3.jpg" class="ig-img" alt="">
        <img src="../img/beeswing-4.jpg" class="ig-img" alt="">
        <img src="../img/beeswing-5.jpg" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
        <div class="_10 flex-col">
          <div class="center-align">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
          </div>
        </div>
        <div class="_75">
          <span>Cute spot with a nostalgic feeling of simplier times mixed with some contemporary art. Friendly staff. Short-handed today so we waited close to an hour to get our food... after waiting 30 mins in line to order at the counter.</span>
        </div>
        <div class="_15 flex-container align-self-center">
          <div class="vote">
            <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
            <span>10</span>
          </div>
          <div class="vote">
            <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
            <span>2</span>
          </div>
        </div>
        </div>
        <div class="divider"></div>
        <div class="flex-container">
        <div class="_10 flex-col">
          <div class="center-align">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/dana_comella.jpg" class="comment-profile-img" alt="">
          </div>
        </div>
        <div class="_75">
          <span>Totally delicious! The line can get kind of long waiting to order, but totally worth it.</span>
        </div>
        <div class="_15 flex-container align-self-center">
          <div class="vote">
            <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
            <span>10</span>
          </div>
          <div class="vote">
            <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
            <span>2</span>
          </div>
        </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/places/forest-park.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Forest Park Northwest, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/glass-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Forest park - MacLeay Entrance</span>
        <span>2960 NW Upshur St. Portland, OR 97210</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/forest-park-1.jpg" class="ig-img" alt="">
        <img src="../img/forest-park-2.jpg" class="ig-img" alt="">
        <img src="../img/forest-park-3.jpg" class="ig-img" alt="">
        <img src="../img/forest-park-4.jpg" class="ig-img" alt="">
        <img src="../img/forest-park.jpg" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>Gorgeous scenery with moss covered trees and running stream. It took us about 2 hours out and back. We hiked up to Pittock Mansion as our turnaround spot.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/pittock-mansion-414.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Kings Heights, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/tourist-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Pittock Mansion</span>
        <span>3229 NW Pittock Dr., Portland, OR 97210</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/pittock-mansion-1.png" class="ig-img" alt="">
        <img src="../img/pittock-mansion-2.png" class="ig-img" alt="">
        <img src="../img/pittock-mansion-3.png" class="ig-img" alt="">
        <img src="../img/pittock-mansion-4.png" class="ig-img" alt="">
        <img src="../img/pittock-mansion-5.png" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>Pittock Mansion is a great spot to come and get a look at the city of Portland from above, and of Mt. Hood in the distance. We didn't take the museum tour. You can get here from the Forest Park trails, or you can drive up to it.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/fireside-portland.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Northwest District, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/restaurant-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">The Fireside</span>
        <span>801 NW 23rd Ave, Portland, OR 97218</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/fireside-1.png" class="ig-img" alt="">
        <img src="../img/fireside-2.png" class="ig-img" alt="">
        <img src="../img/fireside-3.png" class="ig-img" alt="">
        <img src="../img/fireside-4.png" class="ig-img" alt="">
        <img src="../img/fireside-5.png" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>Cozy, rustic and modern gastropub with spectacular firesplaces. Happy Hour was affordable and food delicious. Wonderful service. Nice place to relax and have a cocktail after out Forest Park walk.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/michaelwashburn/trip-friends/beau_murrillo.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>I love coming here and it's a place I like to take friends and family to when visiting. Everyone always seems to enjoy themselves. Great cocktails, food, and service.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/labonita.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">Alberta Arts District, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/tourist-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">La Bonita | Food For the People</span>
        <span>2839 NE Alberta St. Portland, OR 97211</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>I came to grab breakfast burritos to-go. Food was good, but I wish they had more meat options for the breakfast burritos.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/inkandpeat.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">North Portland, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/present-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Ink &amp; Peat</span>
        <span>3808 N Williams Ave #126, Portland, OR 97227</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="ig-feed flex-container">
        <img src="../img/inkandpeat-1.png" class="ig-img" alt="">
        <img src="../img/inkandpeat-2.png" class="ig-img" alt="">
        <img src="../img/inkandpeat-3.png" class="ig-img" alt="">
        <img src="../img/inkandpeat-4.png" class="ig-img" alt="">
        <img src="../img/inkandpeat-5.png" class="ig-img" alt="">
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>I came across Ink &amp; Peat when looking for a Valentine gift. Very welcoming and helful staff. I found a unique card and specialty chocolate for the gift. There are lots of great things to find for your home, too, from textiles to candles.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/risrettoroasters.jpg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">North Portland, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/coffee-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Risretto Roasters</span>
        <span>3808 N. Williams Ave, Portland, OR 97227</span>
          <div class="social-icon-wrap">
            <img src="../img/instagram.png" class="social-icon" alt="Instagram">
            <img src="../img/facebook.png" class="social-icon" alt="Facebook">
          </div>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>Simple cafe. Good coffee. Clean environment. Limited seating.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <div class="card p15">
      <div class="card-img">
        <img class="responsive-img" src="../img/bike-ride.jpeg" alt="" >
      </div>
      <div class="flex-container place-location-panel">
        <div class="_70">
          <span class="wt500"><img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/place-16.png" alt="">PDX, Portland</span>
        </div>
        <div class="_30">
          <a href="" class="add-btn">Add to your trip</a>
        </div>
      </div>
      <div class="flex-container place-info-panel">
        <div class="_10">
          <img src="../img/bicycle-orange.png" class="itin-icon" alt="">
        </div>
      <div class="_60 flex-column">
        <span class="wt500" class="item-name">Bike Ride Along Colubmia River at M. James Gleason Memorial Boat Ramp</span>
        <span>4325 NE Marine Dr. Portland, OR 97211</span>
        </div>
          <div class="_30 rating-panel flex-column">
          <div class="align-self-end">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
            <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/rating-star-16.png" alt="">
          </div>
        </div>
      </div>
      <div class="tip-panel">
        <div class="_10 flex-col">
          <div>
            <img src="../img/reminder-orange.png" class="itin-icon" alt="">
          </div>
        </div>
        <div class="_75">
          <span>You can pay to park in this public lot at the James Gleason Memorial Boat Ramp. If you have some time to kill before heading to PDX then it's a great place to come and take a walk since the airport is so close.</span>
          <a href="" class="more-btn">More tips...</a>
        </div>
        <div class="_15 align-self-center">
          <div class="flex-container">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="comment-panel">
        <div class="single-comment">
          <div class="_10 flex-col">
            <div class="center-align">
              <img src="https://s3.us-east-2.amazonaws.com/tripcited-mockup-images/profile-img/michaelw.jpg" class="comment-profile-img" alt="">
            </div>
          </div>
          <div class="_75">
            <span>Beautiful bike ride along the Columbia River.</span>
          </div>
          <div class="_15 flex-container align-self-center">
            <div class="vote">
              <img src="../img/like-orange.png" class="itin-icon-xs" alt="">
              <span>10</span>
            </div>
            <div class="vote">
              <img src="../img/dislike-orange.png" class="itin-icon-xs" alt="">
              <span>2</span>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div><a href="" class="more-btn">More comments...</a></div>
      </div>
    </div>
  </div>
</div>
{{>_googleForm}}
